a {
    color: blue;
    background-color: white;
  }
  
  #myH3 {
    color: #03ecfc;
  }
  
  #myBtn {
    border-radius: 30px;
    background-color: black;
    color: white;
  }
  
  #myH2 {
  color : blue;
  }
  
  .myBtn{
  background-color: powderblue;
  }